# Filtering Data from Datsets by using Pandas

**Reading data from Datasets**

In [14]:
import pandas as pd

df = pd.read_csv('/kaggle/input/one-piece-arcs/OnePieceArcs.csv')

df.head()

,Arc,Start onChapter,TotalChapters,TotalPages,Manga%,Start onEpisode,TotalEpisodes,TotalMinutes(avg 24),Anime%
0,Romance Dawn Arc,1,7,178,0.9%,1,3,72,0.3%
1,Orange Town Arc,8,14,273,1.4%,4,5,120,0.5%
2,Syrup Village Arc,22,20,396,2.0%,9,10,240,1.0%
3,Baratie Arc,42,27,514,2.6%,19,12,288,1.2%
4,Arlong Park Arc,69,27,514,2.6%,31,15,360,1.5%

**Selecting rows of Pandas Dataframe based on particular column value using ‘>’, ‘=’, ‘=’, ‘<=’, ‘!=’ operator.**

In [15]:
import pandas as pd

ds = pd.read_csv('/kaggle/input/one-piece-arcs/OnePieceArcs.csv')

df_filter=ds[ds['TotalEpisodes']==5]
df_filter.head()

,Arc,Start onChapter,TotalChapters,TotalPages,Manga%,Start onEpisode,TotalEpisodes,TotalMinutes(avg 24),Anime%
1,Orange Town Arc,8,14,273,1.4%,4,5,120,0.5%
14,Post-Alabasta Arc,0,0,0,0.0%,131,5,120,0.5%
16,Ruluka Island Arc,0,0,0,0.0%,139,5,120,0.5%
21,Ocean's Dream Arc,0,0,0,0.0%,220,5,120,0.5%

In [16]:
import pandas as pd

ds = pd.read_csv('/kaggle/input/one-piece-arcs/OnePieceArcs.csv')

rsult_df = ds[ds['TotalEpisodes']>5]

rsult_df.head()

,Arc,Start onChapter,TotalChapters,TotalPages,Manga%,Start onEpisode,TotalEpisodes,TotalMinutes(avg 24),Anime%
2,Syrup Village Arc,22,20,396,2.0%,9,10,240,1.0%
3,Baratie Arc,42,27,514,2.6%,19,12,288,1.2%
4,Arlong Park Arc,69,27,514,2.6%,31,15,360,1.5%
6,Loguetown Arc,96,5,100,0.5%,48,6,144,0.6%
7,Warship Island Arc,0,0,0,0.0%,54,8,192,0.8%

In [17]:
import pandas as pd

ds = pd.read_csv('/kaggle/input/one-piece-arcs/OnePieceArcs.csv')

rsult_df = ds[ds['TotalEpisodes']>=5]

rsult_df.head()

,Arc,Start onChapter,TotalChapters,TotalPages,Manga%,Start onEpisode,TotalEpisodes,TotalMinutes(avg 24),Anime%
1,Orange Town Arc,8,14,273,1.4%,4,5,120,0.5%
2,Syrup Village Arc,22,20,396,2.0%,9,10,240,1.0%
3,Baratie Arc,42,27,514,2.6%,19,12,288,1.2%
4,Arlong Park Arc,69,27,514,2.6%,31,15,360,1.5%
6,Loguetown Arc,96,5,100,0.5%,48,6,144,0.6%

In [18]:
import pandas as pd

ds = pd.read_csv('/kaggle/input/one-piece-arcs/OnePieceArcs.csv')

rsult_df = ds[ds['TotalEpisodes']<5]

rsult_df.head()

,Arc,Start onChapter,TotalChapters,TotalPages,Manga%,Start onEpisode,TotalEpisodes,TotalMinutes(avg 24),Anime%
0,Romance Dawn Arc,1,7,178,0.9%,1,3,72,0.3%
5,Buggy Side Story Arc,0,0,0,0.0%,46,2,48,0.2%
8,Reverse Mountain Arc,101,5,96,0.5%,62,2,48,0.2%
9,Whiskey Peak Arc,106,9,169,0.9%,64,4,96,0.4%
10,Koby and Helmeppo Arc,0,0,0,0.0%,68,2,48,0.2%

In [11]:
import pandas as pd

ds = pd.read_csv('/kaggle/input/one-piece-arcs/OnePieceArcs.csv')

rsult_df = ds[ds['TotalEpisodes']<=5]

rsult_df.head()

,Arc,Start onChapter,TotalChapters,TotalPages,Manga%,Start onEpisode,TotalEpisodes,TotalMinutes(avg 24),Anime%
0,Romance Dawn Arc,1,7,178,0.9%,1,3,72,0.3%
1,Orange Town Arc,8,14,273,1.4%,4,5,120,0.5%
5,Buggy Side Story Arc,0,0,0,0.0%,46,2,48,0.2%
8,Reverse Mountain Arc,101,5,96,0.5%,62,2,48,0.2%
9,Whiskey Peak Arc,106,9,169,0.9%,64,4,96,0.4%

In [13]:
import pandas as pd

ds = pd.read_csv('/kaggle/input/one-piece-arcs/OnePieceArcs.csv')

rsult_df = ds[ds['TotalEpisodes']!=5]

rsult_df.head()

,Arc,Start onChapter,TotalChapters,TotalPages,Manga%,Start onEpisode,TotalEpisodes,TotalMinutes(avg 24),Anime%
0,Romance Dawn Arc,1,7,178,0.9%,1,3,72,0.3%
2,Syrup Village Arc,22,20,396,2.0%,9,10,240,1.0%
3,Baratie Arc,42,27,514,2.6%,19,12,288,1.2%
4,Arlong Park Arc,69,27,514,2.6%,31,15,360,1.5%
5,Buggy Side Story Arc,0,0,0,0.0%,46,2,48,0.2%

**Selecting those rows of Pandas Dataframe whose column value is present in the list using isin() method of the dataframe.**

In [19]:
import pandas as pd

ds = pd.read_csv('/kaggle/input/one-piece-arcs/OnePieceArcs.csv')

options = ['Marineford Arc','Return to Sabaody Arc']

rsult_df = ds[ds['Arc'].isin(options)]

rsult_df.head()

,Arc,Start onChapter,TotalChapters,TotalPages,Manga%,Start onEpisode,TotalEpisodes,TotalMinutes(avg 24),Anime%
34,Marineford Arc,550,31,529,2.7%,457,33,792,3.2%
36,Return to Sabaody Arc,598,5,98,0.5%,517,6,144,0.6%

**Selecting all the rows from the given dataframe in which ‘Stream’ is present in the options list using loc[ ].**

In [20]:
import pandas as pd

ds = pd.read_csv('/kaggle/input/one-piece-arcs/OnePieceArcs.csv')

options = ['Marineford Arc','Return to Sabaody Arc']

rsult_df = ds.loc[ds['Arc'].isin(options)]

rsult_df.head()

,Arc,Start onChapter,TotalChapters,TotalPages,Manga%,Start onEpisode,TotalEpisodes,TotalMinutes(avg 24),Anime%
34,Marineford Arc,550,31,529,2.7%,457,33,792,3.2%
36,Return to Sabaody Arc,598,5,98,0.5%,517,6,144,0.6%

**Selecting rows of  Pandas Dataframe based on multiple column conditions using ‘&’ operator**

In [25]:
import pandas as pd

ds = pd.read_csv('/kaggle/input/one-piece-arcs/OnePieceArcs.csv')

options = ['Marineford Arc','Return to Sabaody Arc']

rsult_df = df[(df['TotalPages']==98) & 
           df['Arc'].isin(options)]

rsult_df.head()

,Arc,Start onChapter,TotalChapters,TotalPages,Manga%,Start onEpisode,TotalEpisodes,TotalMinutes(avg 24),Anime%
36,Return to Sabaody Arc,598,5,98,0.5%,517,6,144,0.6%

In [26]:
import pandas as pd

ds = pd.read_csv('/kaggle/input/one-piece-arcs/OnePieceArcs.csv')

options = ['Marineford Arc','Return to Sabaody Arc']

rsult_df = df.loc[(df['TotalPages']==98) & 
           df['Arc'].isin(options)]

rsult_df.head()

,Arc,Start onChapter,TotalChapters,TotalPages,Manga%,Start onEpisode,TotalEpisodes,TotalMinutes(avg 24),Anime%
36,Return to Sabaody Arc,598,5,98,0.5%,517,6,144,0.6%